body{
	background-color: #000000;
	overflow: hidden;
}

#terminal-head{
	font-family: 'Courier';
	color: white;
}

#terminal-timestamp{
	margin-top: -5px;
	margin-left: -5px;
}

#terminal-prompt{
	margin-top: -15px;
	margin-left: -5px;
}

#jumbotron{
	visibility: hidden;
}

#big-name{
	font-family: 'Press Start 2P', cursive;
	color: #2ad7f9;
	text-align: center;
}

#big-name h1{
	font-size: 80px;
	padding-top: 130px;
	word-spacing: -40px;
}

#big-name h2{
	margin-top: -30px;
	word-spacing: -5px;
}

#big-name h3{
	color: #FF9191;
}

.terminal-typing{
	color: white;
}

canvas{
	z-index: 500;
	position: relative;
}

#text-box{
	font-family: 'Courier';
	background-color: white;
	color: #000000;
	border-radius: 5px;
    border: 2px solid #FF9191;
	position: absolute;
	left: 9.5%;
	top: 75%;
	width: 80%;
	height: 100px;
	z-index: 100;
}

.sprite-speaking{
	left: 5;
}

.door-title{
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	position: absolute;
	margin-top: 1%;
}

#big-picture{
	border-radius: 70%;
	height: 284.8px;
	width: 334.6px;
	top: 50px;
	left: 90px;
	position: absolute;
}

#about-me{
	color: white;
	font-family: 'Courier';
	font-size: 17px;
	top: 50px;
	position: absolute;
	left: 460px;
}

.exit-sign{
	color: #FF9191;
	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	position: absolute;
	top: 91%;
	left: 50px;
}
